[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
ipython = "*"
factory-boy = "*"

[packages]
django = "~=3.2"
psycopg2-binary = "~=2.8"
faker = "~=8.1"
celery = "==5.0.5"
redis = "~=3.5"
uwsgi = "==2.0.19.1"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
